.checkbox__label {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.64;
}

@media (min-width: 768px) {
  .checkbox__label {
    font-size: 13px;
    line-height: 1.38;
  }
}

.checkbox {
  color: var(--text-on-page);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 12px;
  transition: opacity 0.3s;
  cursor: pointer;
}

@media (min-width: 1280px) {
  .checkbox {
    gap: 16px;
  }
}

@media (min-width: 1280px) {
  .checkbox {
    flex-direction: row;
  }
}
/* Контейнер для движения рычага (выключенное состояние) */
.checkbox__custom-checkbox {
  position: relative;
  width: 36px;
  height: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  background-image: url(./../../../images/smalltumboff.svg);
  color: var(--text-on-page);
}

/* Нажатое состояние - смена иконки */
.checkbox__system-box:checked + .checkbox__custom-checkbox {
  background-image: url(./../../../images/smalltumb.svg);
}

/* При наведении */
.checkbox:hover {
  opacity: 0.7;
}

/* скрытый системный чекбокс */
.checkbox__system-box {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/* Неактивное состояние */
.checkbox__system-box:disabled + .checkbox__custom-checkbox {
  opacity: 0.7;
}

/* выключенное состояние рычага */
.checkbox__custom-checkbox::after {
  content: "";
  box-sizing: border-box;
  height: 40%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 10px;
}

/* Нажатое состояние */
.checkbox__system-box:checked + .checkbox__custom-checkbox::after {
  left: 26px;
}
