.header {
  padding-inline: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.header__button-container_films {
  display: flex;
  gap: 16px;
  margin-left: 44px;
}

/*Страница Landing*/
.landing-page .header {
  background-color: var(--promo);
}

.landing-page .header__button-container_films {
  display: none;
}

.landing-page .header__button-container {
  display: none;
}

.landing-page .header__menu-button {
  display: none;
}

/*Страница Movies*/
.movies-page .header__button-entrance {
  display: none;
}

.movies-page .header__button-container_films {
  display: none;
}

.movies-page .header__button-container {
  display: none;
}

/*Страница Profile*/
.profile-page .header__button-entrance {
  display: none;
}

.profile-page .header__button-container_films {
  display: none;
}

.profile-page .header__button-container {
  display: none;
}

.header_themed {
  background-color: var(--promo);
}

.header__main-link {
  transition: opacity 0.3s;
}

.header__main-link:hover {
  opacity: 0.7;
}

.header__logo {
  display: block;
  width: 38px;
  aspect-ratio: 1;
  object-fit: contain;
}

.header__button-container {
  display: flex;
  gap: 30px;
  align-items: center;
}

.header__button-entrance {
  margin-left: auto;
  display: flex;
  gap: 30px;
  align-items: center;
}

.header__button {
  min-height: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}

.header__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.header__button-green {
  color: black;
  background-color: var(--time-block1);
  min-width: 76px;
  border-radius: 3px;
}

.header__account-button {
  width: 100px;
  height: 32px;
  background: #ffffff;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 40px;
}

.header__menu-button {
  display: block;
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.header__mobile-toggle {
  border: 0;
  outline: none;
  background-color: transparent;
  display: inline-flex;
  padding: 0;
}

@media (min-width: 1280px) {
  .movies-page .header__menu-button {
    display: none;
  }

  .header__mobile-toggle {
    display: none;
  }
}

.header__account-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.header__menu-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media (min-width: 1280px) {
  .movies-page .header__button-container_films {
    display: flex;
  }

  .movies-page .header__button-container {
    display: flex;
  }

  .profile-page .header__button-container_films {
    display: flex;
  }
  .profile-page .header__button-container {
    display: flex;
  }

  .profile-page .header__menu-button {
    display: none;
  }
}
