.promo {
  width: 100%;
  display: inline-block;
  background-position: right 70px top 75px;
  background-color: var(--promo);
  background-repeat: no-repeat;
  background-size: 310px auto;
  background-image: url(../../../images/text__COLOR_landing-logo.svg);
  margin: 0;
}

.promo__title {
  text-align: left;
  max-width: 640px;
  margin-top: 0;
  padding-top: 75px;
  margin-left: 70px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.0em;
}

.promo__subtitle {
  max-width: 310px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  margin-top: 36px;
  margin-left: 70px;
  margin-bottom: 145px;
  line-height: 16px;
  opacity: 0.5;
}

.promo__button {
  width: 128px;
  height: 35px;
  margin-left: 69px;
  margin-bottom: 75px;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.promo__button-text {
  margin: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  line-height: 35px;
}
