.footer {
  color: var(--text-on-page);
  padding-top: 215px;
  padding-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "text"
    "links"
    "copyright";
  gap: 30px;
}

@media (min-width: 768px) {
  .footer {
    padding-inline: 30px;
    padding-bottom: 20px;
    font-size: 13px;
    line-height: 1.23;
    grid-template-columns: max-content 1fr;
    grid-template-areas:
      "text text"
      "copyright links";
    gap: 20px;
  }
}

@media (min-width: 1280px) {
  .footer {
    /* display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 70px 70px 20px 70px; */
    background-color: var(--footer);
    padding-top: 40px;
    padding-inline: 70px;
  }
}

@media (min-width: 320px) {
  .footer__text {
    margin: 0;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--text-on-page);
    color: var(--text-on-caption);
    grid-area: text;
  }
}

@media (min-width: 1280px) {
  .footer__text {
    padding-top: 20px;
  }
}

.footer__links {
  color: var(--text-on-page);
}

.footer__links-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

@media (min-width: 768px) {
  .footer__links-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 20px;
  }
}

.footer__copyright {
  margin: 0;
  grid-area: copyright;
  color: var(--text-on-page);
  text-align: center;
  align-self: end;
}

.footer__link {
  display: block;
  color: inherit;
  text-decoration: none;
  transition: opacity 0.3s;
}

.footer__link:hover {
  opacity: 0.7;
}
