.article {
  color: var(--on-surface);
  padding-block: 100px;
}

.article__title {
  margin-top: 10px;
  margin-bottom: 70px;
  border-bottom: 1px solid #DADADA;
  color: var(--text-on-page);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.04em;
}
