.movie-card-list {
  padding-inline: 10px;
  padding-top: 40px;
  padding-bottom: 30px;
  list-style: none;
  margin: 0;
  display: grid;
  row-gap: 15px;
  column-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

@media (min-width: 768px) {
  .movie-card-list {
    padding-inline: 30px;
    column-gap: 30px;
    row-gap: 35px;
    padding-top: 70px;
    grid-template-columns: repeat(auto-fill, minmax(339px, 1fr));
  }
}

@media (min-width: 1280px) {
  .movie-card-list {
    padding-inline: 70px;
    gap: 32px 20px;
    padding-bottom: 10px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }
}
