.techs__color {
  background-color: var(--background-techs);
}

@media (min-width: 320px) {
  .techs {
    display: flex;
    padding-inline: 18px;
    flex-direction: column;
    align-items: center;
    color: var(--text-on-page);
    background-color: var(--background-techs);
  }
}

@media (min-width: 768px) {
  .techs {
    padding-inline: 0px;
  }
}

@media (min-width: 320px) {
  .techs__name-section {
    max-width: 284px;
    color: var(--text-on-page);
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.04em;
    padding-top: 71px;
    padding-bottom: 28px;
    margin: 0 auto 28px auto;
    border-bottom: 1px solid #000000;
  }
}

@media (min-width: 768px) {
  .techs__name-section {
    max-width: 1140px;
    font-size: 22px;
    line-height: 27px;
    padding-top: 90px;
    padding-bottom: 22px;
    margin-bottom: 80px;
    border-bottom: 1px solid #dadada;
  }
}

@media (min-width: 1280px) {
  .techs__name-section {
    padding-top: 108px;
    margin-bottom: 90px;
    border-bottom: 1px solid #dadada;
  }
}

@media (min-width: 320px) {
  .techs__title {
    padding-top: 35px;
    padding-bottom: 23px;
    margin: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    align-items: center;
    letter-spacing: -0.04em;
    color: var(--text-on-page);
  }
}

@media (min-width: 768px) {
  .techs__title {
    padding-top: 0px;
    padding-bottom: 22px;
    font-size: 50px;
    line-height: 58px;
  }
}

@media (min-width: 1280px) {
  .techs__title {
    padding-bottom: 26px;
    margin: auto;
  }
}

@media (min-width: 320px) {
  .techs__subtitle {
    margin: 0 auto 50px auto;
    max-width: 292px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120px;
    text-align: center;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.04em;
    color: var(--text-on-page);
  }
}

@media (min-width: 768px) {
  .techs__subtitle {
    margin-bottom: 83px;
    max-width: 460px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media (min-width: 1280px) {
  .techs__subtitle {
    margin-bottom: 100px;
    font-size: 14px;
    line-height: 1.43;
  }
}

@media (min-width: 320px) {
  .techs__list {
    list-style: none;
    padding-bottom: 70px;
    margin: 0;
    padding-inline: 0;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, minmax(84px, min-content));
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .techs__list {
    padding-bottom: 90px;
    grid-template-columns: repeat(7, minmax(84px, min-content));
  }
}

@media (min-width: 1280px) {
  .techs__list {
    padding-bottom: 100px;
    grid-template-columns: repeat(7, minmax(90px, min-content));
  }
}

@media (min-width: 320px) {
  .techs__list-item {
    padding: 21px 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background-color: var(--list-items);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.04em;
  }
}

@media (min-width: 1280px) {
  .techs__list-item {
    font-size: 14px;
    line-height: 17px;
  }
}
