.more {
  padding-top: 50px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
}

.more__button {
  display: block;
  border: 2px solid var(--line);
  cursor: pointer;
  background-color: var(--movie-button);
  border-radius: 6px;
  min-width: 240px;
  padding: 10px 20px;
  color: white;
  outline: none;
  box-shadow: none;
  transition: opacity 0.3s, transform 0.3s;
}

@media (min-width: 768px) {
  .more__button {
    min-width: 320px;
  }
}

.more__button:active {
  transform: scale(0.9);
}

.more__button:hover {
  opacity: 0.8;
}
