.movie-card {
  display: block;
  max-width: 600px;
  padding-block: var(--gap);
  /* Внешний вид */
  background-color: var(--card);
  border-radius: 6px;
  color: var(--on-card);
  /* Расположение элементов */
  display: grid;
  column-gap: var(--gap);
  row-gap: var(--gap);
  grid-template-columns: 1fr max-content;
  grid-template-rows: 1fr auto auto;
  grid-template-areas:
    'thumbnail thumbnail'
    'name button'
    'duration button';
}

@media (min-width: 768px) {
  .movie-card {
    --gap: 18px;
  }
}

@media (min-width: 1280px) {
  .movie-card {
    max-width: 270px;
  }
}

.movie-card__name {
  grid-area: name;
  margin: 0;
  margin-left: var(--gap);
  /* Текст */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  padding-top: 12px;
  /* Перенос слов */
  overflow-wrap: anywhere;
}

@media (min-width: 768px) {
  .movie-card__name {
    font-size: 15px;
    line-height: 1.2;
  }
}

.movie-card__duration {
  grid-area: duration;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  margin-right: var(--gap);
  /* Текст */
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.8;
  color: var(--on-card-variant);
}

@media (min-width: 768px) {
  .movie-card__duration {
    font-size: 13px;
    line-height: 1.38;
  }
}

.movie-card__thumbnail {
  grid-area: thumbnail;
  width: 100%;
  aspect-ratio: 16 / 9;
  object-position: center;
  object-fit: cover;
}

.movie-card__button {
  grid-area: button;
  justify-self: center;
  margin-inline: var(--gap);

}
