.movie-card {
  flex-direction: column;
  max-width: 600px;
  background-color: var(--card);
  border-radius: 6px;
  color: var(--on-card);
}

@media (min-width: 768px) {
  .movie-card {
  }
}

@media (min-width: 1280px) {
  .movie-card {
    max-width: 270px;
  }
}

.movie-card__block {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
}

@media (min-width: 768px) {
  .movie-card__block {
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
  }
}

@media (min-width: 1280px) {
  .movie-card__block {
    padding-top: 10px;
    padding-inline: 12px;
  }
}

.movie-card__name {
  max-width: 206px;
  grid-area: name;
  margin: 0;
  margin-left: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  overflow-wrap: anywhere;
}

@media (min-width: 768px) {
  .movie-card__name {
    font-size: 13px;
    line-height: 16px;
  }
}

.movie-card__duration {
  grid-area: duration;
  padding-top: 14px;
  padding-bottom: 14px;
  margin: 0;
  margin-left: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.8;
  color: var(--on-card-variant);
}

@media (min-width: 768px) {
  .movie-card__duration {
    font-size: 11px;
    line-height: 13px;
    padding-top: 10px;
    padding-bottom: 12px;
  }
}

@media (min-width: 1280px) {
  .movie-card__duration {
    font-size: 13px;
    line-height: 1.38;
    padding-bottom: 14px;
  }
}

.movie-card__thumbnail {
  grid-area: thumbnail;
  width: 100%;
  aspect-ratio: 16 / 9;
  object-position: center;
  object-fit: cover;
}

@media (min-width: 768px) {
  .movie-card__thumbnail {
    max-width: 339px;
  }
}

.movie-card__button {
  grid-area: button;
  justify-self: center;
  margin-inline: var(--gap);
}
