.movie-card__toggle {
  background-color: #000;
  border: 2px solid white;
  border-radius: 100%;
  height: 16px;
  width: 16px;
  margin-right: 12px;
  padding: 0;
  cursor: pointer;
}

.movie-card__toggle.movie-card__toggle__active {
  background-color: #2be080;
}
