.about-me {
  display: grid;
  color: var(--text-on-page);
  grid-template-columns: 1fr;
  grid-auto-flow: dense;
  gap: 40px;
}

/*
.about-me__photo {
  width: 100%;
  max-width: 270px;
  justify-self: center;
  border-radius: 10px;
  aspect-ratio: 5 / 6;
  object-fit: cover;
  object-position: center;
}

.about-me__name {
  color: var(--text-on-page);
  margin: 0;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: -0.04em;
}

.about-me__subtitle {
  color: var(--text-on-page);
  margin: 0;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.45;
}

.about-me__text {
  color: var(--text-on-page);
  margin: 0;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.45;
}

.about-me__text:last-of-type {
  margin-bottom: 40px;
}

.about-me__link-list {
  color: var(--text-on-page);
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}

.about-me__link {
  display: block;
  color: var(--text-on-page);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: inherit;
  transition: opacity 0.3s;
}

.about-me__link:hover {
  opacity: 0.7;
} */
